@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #8a69d6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right top, #512DA8, #8a69d6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right top, #512DA8, #8a69d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}

.container {
    width: 800px;
    height: 600px;
    padding: 60px;
    border-radius: 30px;
    background-color: #F8F9FA;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    text-align: center;
}

.message {
    padding: 15px;
    border-radius: 10px;
    width: 75%;
    color: #512DA8;
    margin: 30px auto;
    border: 2px solid #512DA8;
}

h1 {
    color: #200f49;
    font-weight: 600;
    font-size: 28px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
}